# Files and directories created by pub
.dart_tool/
.packages
build/
pubspec.lock

# Directory created by dartdoc
doc/api/

# dotenv environment variables file
.env*

# iOS and Android build artifacts
ios/Pods/
ios/Podfile.lock
ios/Podfile.pinned.lock
android/app/build/
android/gradle.properties
android/local.properties

# IDE-specific settings
.vscode/
.idea/
*.iml

# Dart development-specific files
.dart_dev/

# macOS system files
.DS_Store

# Compiled JavaScript files (optional, if not targeting web)
# *.dart.js
# *.info.json
# *.js
# *.js_
# *.js.deps
# *.js.map

# Flutter-specific
.flutter-plugins
.flutter-plugins-dependencies
